html, body {
  margin: 0;
  padding: 0;
  
}

* {
  font-family: Rajdhani, Arial, Helvetica, sans-serif;
}
  .wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  background: url(../img/bcitBG-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.appTitle, .mainTxt, .secondaryTxt{
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #000;
  max-width: 40vw;
}

.bcitID {
  font-size: 1em;
  background: #f2f2f2;
  width: 15vw;
  height: 5vh;
  margin: 50px;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.startBtn, .confirmBtn {
  background: rgba(255, 255, 255, 0);
  color: #FFF0A0;
  border: 5px solid #FFF0A0;
  width: 15vw;
  height: 5vh;
  font-size: 1em;
}

.startBtn:active, .confirmBtn:active{
  box-shadow: 5px 10px #888;
  /* animation: blueSquareAni 2s forwards; */
}

.signupLink {
  color: #f2f2f2;
  text-shadow: 2px 2px 6px #000;
  margin: 50px;
}

/* POSITIONAPP */

.wrapper-row {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  
}

.left {
  background: #003e6b;
  color: #fff;
}

.content {
  max-height: 50vh;
  letter-spacing: 1px;
}

.positionB {
  font-size: 0.5em;
}



.contBtn {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: help;
}
.STspan {
  color: #f2f2f2;
}

.searchBtn:active {
  background: #f2e291;
  box-shadow: 5px 10px #888;
}

.searchBtn:active + .blueSquare{
  animation: blueSquareAni 2s forwards;
}

.positionBtn {
  width: 30vw;
  height: 5vh;
  margin: 10px;
  background: #555B6E;
  color: #f2f2f2;
}

.positionBtn:nth-child(odd) {
  color: #555B6E;
  background: #fff;
}

.logoImg {
  background: url("../img/hiveLogo.svg") no-repeat center center;
  width: 25vw;
  height: 25vh;
}


.bcitHeader {
  width: 100vw;
  height: 2.5vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #323232;
  color: #fff;
  text-align: left;
}



.blueSquare {
  background-color: #003e6b;
  position: fixed;
  width: 190vw;
  height: 60vh;
  left: 35%;
  bottom: 0;
  opacity: 0.5;
  transform: rotate(-20deg);
  overflow: hidden;
}
@keyframes blueSquareAni {

  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
    left: 0;
    width: 50vw;
    height: 100vh;
  }
}

.hex{
  position: fixed;
  width: 25vw;
  height: 52vh;
  background: url("../img/hex.svg") no-repeat;
  background-size: cover;
  left: 0px;
  bottom: 0;
  stroke-dasharray: 100;
  pointer-events: none;
  

}