html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #003e6b;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
}

.content {
    max-height: 50vh;
    color: #555B6E;
    letter-spacing: 2px;
}

.positionB {
    font-size: 0.5em;
}
.searchBtn {
    position: absolute;
    max-width: 50vw;
    bottom: 15vh;
    background: #F7EDB8;
    width: 15vw;
    height: 10vh;
}

.searchBtn:active {
    background: #f2e291;
    box-shadow: 5px 10px #888;
}

